        * {
            margin: 0;
            padding: 0;
        }
        
         :root {
            --navbar-height: 59px;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        #navbar {
            display: flex;
            align-items: center;
            position: sticky;
            top: 0px;
            z-index: 1;
        }
        
        #logo {
            margin: 14px 32px;
            margin-bottom: 29px;
        }
        
        #logo img {
            height: 53px;
            margin: -29px -17px;
        }
        
        #navbar::before {
            content: "";
            background-color: black;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.78;
        }
        
        #navbar ul {
            display: flex;
            margin: 0px 4px 0px 625px;
        }
        
        #navbar ul li {
            /* align-items: right; */
            list-style: none;
            font-size: 1.3rem;
        }
        
        #navbar ul li a {
            color: white;
            display: block;
            padding: 2px 22px;
            border-radius: 20px;
            text-decoration: none;
        }
        
        #navbar ul li a:hover {
            color: black;
            background-color: #d5d5d5;
            transition-duration: 0.6s;
            cursor: pointer;
        }
        
        .logo1 {
            display: flex;
            justify-content: center;
            margin: 103px 0px -92px -0px;
        }
        
        .logo1 img {
            width: 194px;
            height: 91px;
        }
        
        #home {
            display: flex;
            flex-direction: column;
            padding: 3px 200px;
            height: 400px;
            justify-content: center;
            align-items: center;
        }
        
        #home::before {
            content: "";
            background: url('30.jpg') no-repeat center center/cover;
            position: absolute;
            height: 127%;
            width: 100%;
            z-index: -1;
            opacity: 0.91;
        }
        
        #home h1 {
            color: white;
            margin-top: 8rem;
            text-align: center;
        }
        
        .h-primary {
            font-size: 2.8rem;
            padding: 12px;
        }
        
        #home input {
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 24px;
            height: 45px;
            width: 106%;
            text-align: center;
            border: 2px solid white;
            border-radius: 24px;
            margin-top: 54px;
            background: none;
        }
        
        #home input {
            color: white;
        }
        
        #home button {
            font-family: 'Baloo Bhai 2', cursive;
            font-size: 21px;
            margin-top: 45px;
            height: 43px;
            width: 120px;
            border: 2px solid white;
            background: none;
            border-radius: 26px;
            text-align: center;
            cursor: pointer;
        }
        
        #home button:hover {
            background-color: #92c2ca;
            color: #173967;
            transition-duration: 0.6s;
        }
        
        .lefta {
            margin: 429px 2px 2px 2px;
        }
        
        .lefta img {
            height: 270px;
            width: 362px;
        }
        
        .righta {
            margin: -705px 9px 0px 85px;
        }
        
        .about {
            font-family: 'Play', sans-serif;
            margin-top: 281px;
            display: flex;
            font-size: 23px;
            margin-left: 709px;
        }
        
        .about h1 {
            font-weight: normal;
            font-size: 35px;
            position: relative;
            margin: 40px;
        }
        
        .about h1::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: crimson;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            animation: animate 4s linear infinite;
        }
        
        @keyframes animate {
            0% {
                width: 100px;
            }
            50% {
                width: 200px;
            }
            100% {
                width: 100px;
            }
        }
        
        .aboutp1 {
            font-size: 23px;
            margin-top: 9px;
            margin-left: 332px;
            margin-right: 51px;
            padding: 4px 6px;
        }
        /* Gallery */
        
        .Images input {
            display: none;
        }
        
        .Gallery {
            width: 113%;
            text-align: center;
        }
        
        .Gallery h1 {
            font-weight: normal;
            font-size: 35px;
            position: relative;
            margin: 40px;
        }
        
        .Gallery h1::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: crimson;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            animation: animate 4s linear infinite;
        }
        
        @keyframes animate {
            0% {
                width: 100px;
            }
            50% {
                width: 200px;
            }
            100% {
                width: 100px;
            }
        }
        
        .top-content {
            background-color: rgb(224 224 224);
            width: 90%;
            margin: 0 auto 20px auto;
            height: 60px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 3px 3px 5px lightgray;
        }
        
        .Gallery h3 {
            height: 100%;
            background-color: #cbcbcb;
            line-height: 60px;
            padding: 0 50px;
            color: white;
            font-size: 78%;
        }
        
        .Gallery label {
            display: inline-block;
            height: 100%;
            margin: 0 20px;
            line-height: 60px;
            font-size: 18px;
            color: gray;
            cursor: pointer;
            transition: color .5s;
        }
        
        .Gallery label:hover {
            color: black;
        }
        
        .photo-gallery {
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        
        .pic {
            position: relative;
            height: 230px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px lightgray;
            cursor: pointer;
            transition: 0.5s;
        }
        
        .pic img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transform: 0.5s;
        }
        
        .pic::before {
            content: "PHOTO GALLERY";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            color: white;
            font-size: 22px;
            font-weight: bold;
            width: 100%;
            margin-top: -100px;
            opacity: 0;
            transition: 0.3s;
            transition-delay: 0.2s;
            z-index: 1;
        }
        
        .pic::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border-radius: 10px;
            height: 0;
            background-color: rgba(0, 0, 0, .4);
            transition: 0.3s;
        }
        
        .pic:hover::after {
            height: 100%;
        }
        
        .pic:hover::before {
            margin-top: 0;
            opacity: 1;
        }
        
        #check1:checked~.Gallery .photo-gallery .pic {
            opacity: 1;
            transform: scale(1);
            position: relative;
            transition: 0.5s;
        }
        
        #check2:checked~.Gallery .photo-gallery .academics {
            transform: scale(1);
            opacity: 1;
            position: relative;
        }
        
        #check2:checked~.Gallery .photo-gallery .cultural,
        #check2:checked~.Gallery .photo-gallery .infastructure {
            opacity: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.5s;
        }
        
        #check3:checked~.Gallery .photo-gallery .cultural {
            transform: scale(1);
            opacity: 1;
            position: relative;
        }
        
        #check3:checked~.Gallery .photo-gallery .academics,
        #check3:checked~.Gallery .photo-gallery .infastructure {
            opacity: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.5s;
        }
        
        #check4:checked~.Gallery .photo-gallery .infastructure {
            transform: scale(1);
            opacity: 1;
            position: relative;
        }
        
        #check4:checked~.Gallery .photo-gallery .academics,
        #check4:checked~.Gallery .photo-gallery .cultural {
            opacity: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.5s;
        }
        
        .Images {
            font-family: 'Play', sans-serif;
            margin-top: 74px;
            display: inline-block;
            font-size: 26px;
            margin-left: 17px;
            padding: 5px 5px;
        }
        
        .Placement {
            font-family: 'Play', sans-serif;
            margin-top: 74px;
            display: inline-block;
            font-size: 26px;
            margin-left: 50%;
            padding: 5px 5px;
        }
        
        .lefta2 {
            margin: 307px 2px 2px 2px;
        }
        
        .lefta2 img {
            height: 270px;
            width: 362px;
        }
        
        .righta2 {
            margin: -618px 9px 0px 85px;
        }
        
        .Placement h1 {
            font-weight: normal;
            font-size: 35px;
            position: relative;
            margin: 40px;
        }
        
        .Placement h1::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: crimson;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            animation: animate 4s linear infinite;
        }
        
        @keyframes animate {
            0% {
                width: 100px;
            }
            50% {
                width: 200px;
            }
            100% {
                width: 100px;
            }
        }
        /* .images1 {
            margin-top: 25px;
            width: 1500px;
        }
        
        .images1 img {
            border: 3.5px double black;
            height: 220px;
            padding: 30px 32px;
        }
        
        .images1 img:hover {
            z-index: -1;
            opacity: 0.88;
        }
        
        .images2 {
            margin-top: 0px;
            width: 1500px;
        }
        
        .images2 img {
            border: 3.5px double black;
            height: 220px;
            padding: 30px 219px;
        }
        
        .images2 img:hover {
            z-index: -1;
            opacity: 0.88;
        }
        
       
        
        .images3 {
            margin-top: 0px;
            width: 1500px;
        }
        
        .images3 img {
            border: 3.5px double black;
            height: 220px;
            padding: 30px 95px;
        }
        
        .images3 img:hover {
            z-index: -1;
            opacity: 0.88;
        } */
        
        .Academics {
            font-family: 'Carter One', cursive;
            display: block;
            margin: auto;
            width: 150px;
            font-size: 25px;
            padding: 4px 6px;
            text-decoration-line: underline;
        }
        
        .images4 {
            margin-top: 25px;
            width: 1500px;
        }
        
        .images4 img {
            border: 3.5px double black;
            height: 492px;
            padding: 30px 32px;
        }
        
        .images5 {
            margin-top: 3px;
            width: 1500px;
        }
        
        .images5 img {
            border: 3.5px double black;
            height: 464px;
            padding: 5px 3px;
        }
        
        .images4 {
            margin-top: 25px;
            width: 1500px;
        }
        
        .images4 img {
            border: 3.5px double black;
            height: 492px;
            padding: 30px 32px;
        }
        
        .images5 {
            margin-top: 3px;
            width: 1500px;
        }
        
        .images5 img {
            border: 3.5px double black;
            height: 464px;
            padding: 5px 3px;
        }
        
        .boxr {
            font-family: 'Baloo Bhai', cursive;
            margin-top: 71px;
            margin-right: 738px;
            margin-left: 264px;
        }
        
        .boxl {
            font-size: 19px;
            padding: 10px 20px;
            font-family: 'Baloo Bhai', cursive;
            margin-top: -310px;
            margin-right: 1243px;
        }
        
        .fo {
            padding: 12px 18px;
        }
        
        .formg {
            padding: 7px 2px;
        }
        
        .formg input,
        textarea {
            font-family: 'Baloo Bhai', cursive;
            text-align: center;
            display: block;
            width: 310px;
            height: 23px;
            padding: 4px 2px;
            font-size: 17px;
            border-radius: 7px;
            margin-left: 8px;
            border: 1px double;
        }
        
        .btn {
            display: block;
            text-align: center;
            font-family: 'Baloo Bhai', cursive;
            height: 33px;
            width: 75px;
            margin-left: 332px;
            font-size: 17px;
            border-radius: 7px;
            margin-top: 10px;
        }
        
        .boxr button:hover {
            color: red;
            background-color: #e0fff3;
            ;
        }
        
        .bm {
            background-color: #d9decf91;
            margin-top: 59px;
        }
        
        .boxrr {
            margin-right: 2px;
            margin-left: 769px;
            margin-top: -270px;
            border-left: 3px double black;
        }
        
        .boxrr1 {
            font-family: 'Baloo Bhai', cursive;
            font-size: 25px;
            padding: 9px 11px;
            margin: 9px 51px 7px 10px;
        }
        
        .boxrr2 {
            font-family: 'Baloo Bhai', cursive;
            font-size: 18px;
            padding: 6px 11px;
            margin: 1px 315px 7px 10px;
        }
        
        .boxd {
            border-bottom: 3px double black;
            margin: 39px 2px 0px 0px;
            padding: 7px 9px;
        }
        
        .boxd1 {
            font-family: 'Baloo Bhai', cursive;
            font-size: 23px;
            margin: 3px 6px 12px 8px;
        }
        
        .boxd2 {
            font-family: 'Baloo Bhai', cursive;
            font-size: 23px;
            margin: 5px 11px 8px 184px;
        }
